<!--头部版块-->
<app-page-header [backTpl]="back" [backUrl]="backUrl" [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<ng-template #back>
  <span class="operate-text">返回</span>
</ng-template>
<div class="normal-table-wrap">
  <div>
    <div nz-row [nzGutter]="8" style="padding: 12px">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding: 12px">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding: 12px">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
    </div>
    <div nz-row [nzGutter]="8" style="padding: 12px">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Card title">
          <p>Card content</p>
          <p>Card content</p>
          <p>Card content</p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
